#!/bin/bash

# Bash history settings
export HISTCONTROL=ignoredups:erasedups
export HISTSIZE=1000           # Number of commands to remember in history
export HISTFILESIZE=2000       # Maximum size of the history file
export HISTTIMEFORMAT='%F %T ' # Timestamp format for history entries
export HISTIGNORE="&:[ ]*:exit:ls:bg:fg:history:clear" # Patterns to ignore in history

# System environment settings
export EDITOR=vim    # Default text editor
export VISUAL=vim    # Default editor for visually-oriented programs
export LC_ALL=en_US.UTF-8  # Character encoding settings
export LANG=en_US.UTF-8    # Language/region setting (US English)
export LANGUAGE=en_US.UTF-8


export PNPM_HOME="/home/jp/.local/share/pnpm"
export DOMAIN='homelab.com'
export KUBECONFIG=~/.kube/config
export PYENV_ROOT="$HOME/.pyenv"
export PYENV_ROOT="$HOME/.pyenv"
